/* Стили для блока услуги */
.services {
  background-color: var(--dark-color);
  color: var(--white-color);
  padding-top: 151px;
  padding-bottom: 150px;
}
.services__tag {
  margin-bottom: 30px;
}
.services__cards-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 39px;
}
.services__card {
  position: relative;
  width: calc(50% - 5px);
}
.services__card-img {
  margin-bottom: 22px;
}
.services__card-price {
  padding: 5px 21px;
  position: absolute;
  top: 29px;
  left: 29px;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  font-size: 22px;
  line-height: 30px;
}
.services__card-title {
  max-width: 340px;
}
.services__orden {
  margin-top: 102px;
}

/* Адаптив для блока услуги */
@media only screen and (max-width: 1199px) {
  .services {
    padding-bottom: 120px;
  }
  .services__cards-grid {
    row-gap: 78px;
  }
  .services__card-img {
    margin-bottom: 16px;
  }
  .services__card-img img {
    max-width: 100%;
  }
  .services__orden {
    margin-top: 76px;
  }
}
@media only screen and (max-width: 767px) {
  .services {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .services__cards-grid {
    row-gap: 38px;
  }
  .services__card {
    margin-bottom: 20px;
    width: 100%;
  }
  .services__card-img {
    margin-bottom: 10px;
  }
  .services__card-img img {
    width: 100%;
  }
  .services__tag {
    padding-left: 3px;
    margin-bottom: 20px;
  }
  .services__card-price {
    padding: 5px 24px;
    font-size: 14px;
    line-height: 19px;
    top: 23px;
    left: 24px;
  }
  .services__orden {
    margin-top: 37px;
  }
}
