/* Общие настройки */
html {
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.03em;
}
a {
    text-decoration: none;
}
.text-h1,
.text-h2,
.text-h3,
.text-p,
.tag {
    letter-spacing: -0.03em;
}
.text-h1 {
    font-size: 60px;
    line-height: 60px;
}
.text-h2 {
    font-size: 45px;
    line-height: 61px;
}
.text-h3 {
    font-size: 30px;
    line-height: 41px;
}
.text-p {
    font-size: 20px;
    line-height: 27px;
}
.tag {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}
:root {
    --accent-color: #AD1818;
    --dark-color: #121212;
    --white-color: #fff;
}
button {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.03em;
}
.button {
    width: 100%;
    height: 153px;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
}
/* Адаптив для шрифтов и больших кнопок*/
@media only screen and (max-width: 1199px) {
    .text-h1 {
        font-size: 50px;
    }
    .text-h2 {
        font-size: 35px;
        line-height: 48px;
    }
    .text-h3 {
        font-size: 25px;
        line-height: 34px;
    }
    .button {
        font-size: 30px;
        line-height: 41px;
    }
}
@media only screen and (max-width: 767px) {
    .text-h1 {
        font-size: 30px;
        line-height: 32px;
    }
    .text-h2 {
        font-size: 22px;
        line-height: 30px;
    }
    .text-h3 {
        font-size: 18px;
        line-height: 25px;
    }
    .text-p {
        font-size: 16px;
        line-height: 22px;
    }
    .tag {
        font-size: 14px;
        line-height: 19px;
    }
    .button {
        font-size: 22px;
        line-height: 30px;
        height: 100px;
    }
}

/* Стили и адаптив для контейнера */
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 15px;
}
@media only screen and (max-width: 1199px) {
    .container {
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    
}
@media only screen and (max-width: 767px) {
    .container {
        margin: 0 auto;
        padding-left: 13px;
        padding-right: 12px;
    }
}
/* Стили для блока шапки сайта */
.header {

}
.menu {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}
.menu__logo {
    width: 127px;
    height: 21px;
}
.menu__logo img {
    box-sizing: border-box;
}
.menu__nav {
    
}
.menu__nav a{
    color: var(--dark-color);
    margin-left: 57px;
}
.active,
.menu__nav a:hover{
    opacity: 0.5;
    padding-bottom: 2px;
    border-bottom: 1.2px solid #4d4d4d;
}
.menu__info {
    margin-top: 70px;
}
.menu__info-h1 {
    max-width: 990px;
}
.menu__info-img {
    margin-top: 30px;
    background-image: url("../img/Rectangle\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1150px;
    height: 500px;
    position: relative;
}
.menu__info-text {
    color: var(--white-color);
    position: absolute;
    max-width: 430px;
    left: 40px;
    bottom: 40px;
}
/* Адаптив для блока шапки профиля */
@media only screen and (max-width: 1199px) {
    .menu__info-img {
        width: 100%;
        height: 400px;
    }
    .menu__info-h1 {
        max-width: 808px;
    }
    .menu__info-text {
        bottom: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .menu__logo {
        width: 96px;
        height: 16px;
    }
    .menu__info {
        margin-top: 37px;
    }
    .menu__info-img {
        margin-top: 24px;
        height: 304px;
    }
    .menu__info-h1 {
        max-width: 335px;
    }
    .menu__info-text {
        left: 15px;
        bottom: 15px;
        max-width: 312px;
    }
}
/* Стили для блока информации */
.info {
    
}
.info__tag {
    margin-top: 150px;
}
.info__text {
    margin-top: 30px;
    width: 1051px;
}
.info__button {
    display: block;
    padding: 20px 40px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 27px;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 5px;
}
.info__button:hover {
    background-color: var(--white-color);
    color: var(--accent-color);
    cursor: pointer;
}
/* Адаптив для блока информации */
@media only screen and (max-width: 1199px) {
    .info__tag {
        margin-top: 120px;
    }
    .info__text {
        max-width: 690px;
    }
}
@media only screen and (max-width: 767px) {
    .info__tag {
        margin-top: 80px;
    }
    .info__text {
        margin-top: 20px;
        width: 100%;
    }
    .info__button {
        padding: 11px 27px;
        font-size: 16px;
    }
}
/* Стили для блока проекты */
.projects {
    margin-top: 150px;
}
.projects__card {
    padding-top: 30px;
    margin-bottom: 58px;
}
.projects__card-img {
    object-fit: cover;
    width: 100%;
    height: 450px;
}
.projects__card-name {
    text-transform: uppercase;
    margin-top: 13px;
    letter-spacing: -0.028em;
    margin-bottom: 15px;
}
.projects__card-link {
    color: var(--accent-color);
    font-size: 20px;
    line-height: 27px;
}
.projects__card-link:hover {
    text-decoration: underline;
}
.projects__open {
    margin-top: 90px;
}
.projects__open-button {
    color: var(--accent-color);
    background-color: var(--white-color);
}
.projects__open-button:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
/* Адаптив для блока проекты */
@media only screen and (max-width: 1199px) {
    .projects {
        margin-top: 120px;
    }
    .projects__card {
        margin-bottom: 48px;
    }
    .projects__card-name {
        margin-bottom: 10px;
    }
    .projects__open {
        margin-top: 102px;
    }
}
@media only screen and (max-width: 767px) {
    .projects {
        margin-top: 80px;
    }
    .projects__card {
        padding-top: 20px;
        margin-bottom: 30px;
    }
    .projects__card-name {
        margin-top: 17px;
        margin-bottom: 11px;
    }
    .projects__card-img {
        height: 250px;
    }
    .projects__card-link {
        font-size: 16px;
        line-height: 22px;
    }
    .projects__open {
        margin-top: 60px;
    }
}
/* Стили для блока услуги */
.services {
    background-color: var(--dark-color);
    color: var(--white-color);
    margin-top: 150px;
    padding-top: 151px;
    padding-bottom: 87px;
}
.services__tag {
    margin-bottom: 32px;
}
.services__cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 11px;
    row-gap: 42px;
}
.services__card {
    position: relative;
    width: 100%;
}
.services__card-img {
    margin-bottom: 25px;
}
.services__card-price {
    padding: 5px 21px;
    position: absolute;
    top: 31px;
    left: 30px;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
    border-radius: 5px;
    font-size: 22px;
    line-height: 30px;
}
.services__card-title {
}
.services__orden {
    margin-top: 55px;
}
.services__orden-button {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.services__orden-button:hover {
    cursor: pointer;
}

/* Адаптив для блока услуги */
@media only screen and (max-width: 1199px) {
    .services {
        margin-top: 105px;
    }
    .services__cards-grid {
        row-gap: 83px;
    }
    .services__card-img {
        margin-bottom: 16px;
    }
    .services__card-img img{
        max-width: 100%;
    }
    .services__card-title p:nth-child(3) {
        font-size: 30px;
        line-height: 41px;;
    }
}
@media only screen and (max-width: 767px) {
    .services__cards-grid {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 46px;
    }
    .services__card {
        margin-bottom: 20px;
    }
    .services__card-img {
        margin-bottom: 10px;
    }
    .services__card-img img {
        width: 100%;
    }
    .services {
        margin-top: 146px;
        padding-top: 80px;
        padding-bottom: 79px;
    }
    .services__tag {
        padding-left: 3px;
        margin-bottom: 18px;
    }
    .services__card-price {
        padding: 5px 24px;
        font-size: 14px;
        line-height: 19px;
        top: 23px;
        left: 24px;
    }
    .services__orden {
        margin-top: 45px;
    }
}
/* Стили для блока отзывы */
.reviews {
    padding-top: 214px;
    padding-bottom: 156px;
}
.reviews__tag {
    margin-bottom: 30px;
}
.reviews__cards-grid {
    display: grid;
    grid-template-columns: 528px 505px;
    grid-auto-flow: dense;
    gap: 80px 50px;
}
.reviews__card {
}
.reviews__card:nth-child(3) {
    grid-column: 2 span;
    max-width: 861px;
}
.reviews__card-title {
    margin-bottom: 14px;
}
.reviews__card-text {
    font-size: 22px;
    line-height: 30px;
}
/* Адаптив для блока отзывы */
@media only screen and (max-width: 1199px) {
    .reviews {
        padding-top: 117px;
        padding-bottom: 120px;
    }
    .reviews__cards-grid {
        gap: 80px 10px;
    }
    .reviews__card-title {
        margin-bottom: 25px;
    }
    .reviews__card-text {
        font-size: 20px;
        line-height: 27px;
    }
}
@media only screen and (max-width: 767px) {
    .reviews__tag {
        margin-bottom: 22px;
    }
    .reviews__cards-grid {
        display: flex;
        flex-direction: column;
    }
    .reviews__card-title {
        margin-bottom: 10px;
    }
    .reviews__card-text {
        font-size: 16px;
        line-height: 22px;
    }
}
/* Стили для блока галереи */
.gallery {
    height: 717px;
    background-image: url("../img/gallery-project1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.gallery__title {
    position: absolute;
    color: var(--white-color);
    bottom: 60px;
    max-width: 443px;
}
.gallery__tag {
    position: absolute;
    top: 60px;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
}
.gallery__menu-nav {
    display: flex;
    position: absolute;
    bottom: 165px;
}
.gallery__arrow-left {
    margin-right: 34px;
}
.gallery__arrow-right {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.gallery__arrow-left:hover,
.gallery__arrow-right:hover{
    opacity: 0.5;
    cursor: pointer;
}

/* Адаптив для блока галереи */
@media only screen and (max-width: 1199px) {
    .gallery {
        height: 536px;
    }
}
@media only screen and (max-width: 767px) {
    .gallery {
        height: 375px;
    }
    .gallery__menu-nav {
        
    }
    .gallery__arrow-left {
        left: 20%;
        margin: 0;
    }
    .gallery__arrow-right {
        left: 80%;
    }
}
/* Стили для блока контакты */
.contacts {
    padding-top: 150px;
    padding-bottom: 150px;
}
.contacts__tag {
    margin-top: 10px;
}
.contacts__number {
    margin-top: 32px;
    margin-bottom: 30px;
    color: var(--dark-color);
    position: relative;
}
.contacts__number a::before{
    content: '';
    position: absolute;
    background-image: url(../img/ic_outline-phone-iphone.svg);
    top: -50px;
    left: -8px;
    background-size: cover;
    width: 24px;
    height: 24px;
}
.contacts__email {
    color: var(--dark-color);
    opacity: 0.5;
}
.line {
    margin-top: 7px;
    width: 410px;
    height: 2px;
    background-color: var(--dark-color);
    opacity: 0.5;
}
/* Адаптив для блока контакты */
@media only screen and (max-width: 1199px) {
    
}
@media only screen and (max-width: 767px) {
    
}
/* Стили для блока футер */
.footer {
    background-color: var(--dark-color);
    color: var(--white-color);
    
}
.footer__content {
   padding-top: 60px;
   padding-bottom: 30px;
   text-align: center;
}
.footer__nav {
    width: 447px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 12px;
    text-align: center;
}
.footer__nav a {
    color: var(--white-color);
}
.footer__nav_active {
    opacity: 0.5;
}
.footer__nav a:hover {
    opacity: 0.5;
    text-decoration: underline;
}
.footer__text {
    margin-top: 87px;
    padding-left: 5px;
    opacity: 0.5;
}
/* Адаптив для блока футер */
@media only screen and (max-width: 1199px) {
    
}
@media only screen and (max-width: 767px) {
    
}






